RegistrationWeb/RegistrationWeb.Client/Service References/RegistrationServiceReference/RegistrationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCourseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseDAO" nillable="true" type="tns:CourseDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseDAO" nillable="true" type="tns:ArrayOfCourseDAO" />
  <xs:complexType name="CourseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Credit" type="xs:int" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Professor" nillable="true" type="tns:PersonDAO" />
      <xs:element minOccurs="0" name="StartTime" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourseDAO" nillable="true" type="tns:CourseDAO" />
  <xs:complexType name="PersonDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonType" nillable="true" type="tns:PersonTypeDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDAO" nillable="true" type="tns:PersonDAO" />
  <xs:complexType name="PersonTypeDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonTypeDAO" nillable="true" type="tns:PersonTypeDAO" />
  <xs:complexType name="ArrayOfPersonDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDAO" nillable="true" type="tns:PersonDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDAO" nillable="true" type="tns:ArrayOfPersonDAO" />
  <xs:complexType name="ArrayOfPersonTypeDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonTypeDAO" nillable="true" type="tns:PersonTypeDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonTypeDAO" nillable="true" type="tns:ArrayOfPersonTypeDAO" />
  <xs:complexType name="ArrayOfScheduleDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleDAO" nillable="true" type="tns:ScheduleDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleDAO" nillable="true" type="tns:ArrayOfScheduleDAO" />
  <xs:complexType name="ScheduleDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Course" nillable="true" type="tns:CourseDAO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:PersonDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleDAO" nillable="true" type="tns:ScheduleDAO" />
</xs:schema>