RegistrationWeb/RegistrationWeb.Logic/Service References/RegistrationServiceReference/RegistrationService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://34.192.6.56/RegistrationData/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" />
  <xs:element name="GetCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetCoursesResult" nillable="true" type="q1:ArrayOfCourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeople">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetPeopleResult" nillable="true" type="q2:ArrayOfPersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetPersonTypesResult" nillable="true" type="q3:ArrayOfPersonTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetSchedulesResult" nillable="true" type="q4:ArrayOfScheduleDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetCourseResult" nillable="true" type="q5:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetPersonResult" nillable="true" type="q6:PersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetPersonTypeResult" nillable="true" type="q7:PersonTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:int" />
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetScheduleResult" nillable="true" type="q8:ScheduleDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFullCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFullCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetAllFullCoursesResult" nillable="true" type="q9:ArrayOfCourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOpenCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOpenCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetAllOpenCoursesResult" nillable="true" type="q10:ArrayOfCourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnrolledStudentsByCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="course" nillable="true" type="q11:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnrolledStudentsByCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetEnrolledStudentsByCourseResult" nillable="true" type="q12:ArrayOfPersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetAllActiveStudentsResult" nillable="true" type="q13:ArrayOfPersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="person" nillable="true" type="q14:PersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="GetStudentScheduleResult" nillable="true" type="q15:ArrayOfCourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="course" nillable="true" type="q16:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="person" nillable="true" type="q17:PersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="personType" nillable="true" type="q18:PersonTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="course" nillable="true" type="q19:CourseDAO" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="person" nillable="true" type="q20:PersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CartCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="course" nillable="true" type="q21:CourseDAO" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="person" nillable="true" type="q22:PersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CartCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CartCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="course" nillable="true" type="q23:CourseDAO" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="person" nillable="true" type="q24:PersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="course" nillable="true" type="q25:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="course" nillable="true" type="q26:CourseDAO" />
        <xs:element minOccurs="0" name="newCapacity" type="xs:int" />
        <xs:element minOccurs="0" name="newStart" type="xs:int" />
        <xs:element minOccurs="0" name="newEnd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" minOccurs="0" name="student" nillable="true" type="q27:PersonDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>