RegistrationWeb/RegistrationWeb.Logic/Service References/RegistrationServiceReference/RegistrationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://34.192.6.56/RegistrationData/RegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://34.192.6.56/RegistrationData/RegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://34.192.6.56/RegistrationData/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrationData.DataClient.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistrationService_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeople" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetPersonTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonTypes" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetPersonTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedules" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetPersonType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonType" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetPersonType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedule" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetAllFullCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFullCourses" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetAllFullCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFullCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetAllOpenCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOpenCourses" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetAllOpenCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOpenCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetEnrolledStudentsByCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrolledStudentsByCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetEnrolledStudentsByCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrolledStudentsByCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetAllActiveStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveStudents" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetAllActiveStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetStudentSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentSchedule" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetStudentSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_AddCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_AddCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_AddPersonType_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonType" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_AddPersonType_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_RegisterCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_RegisterCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CartCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:CartCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CartCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CartCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_DropCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:DropCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_DropCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CancelCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_CancelCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ModifyCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCourse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_ModifyCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_RemoveStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudent" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_RemoveStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistrationService">
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetCourses" message="tns:IRegistrationService_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetCoursesResponse" message="tns:IRegistrationService_GetCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetPeople" message="tns:IRegistrationService_GetPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetPeopleResponse" message="tns:IRegistrationService_GetPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetPersonTypes" message="tns:IRegistrationService_GetPersonTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetPersonTypesResponse" message="tns:IRegistrationService_GetPersonTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetSchedules" message="tns:IRegistrationService_GetSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetSchedulesResponse" message="tns:IRegistrationService_GetSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetCourse" message="tns:IRegistrationService_GetCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetCourseResponse" message="tns:IRegistrationService_GetCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetPerson" message="tns:IRegistrationService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetPersonResponse" message="tns:IRegistrationService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonType">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetPersonType" message="tns:IRegistrationService_GetPersonType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetPersonTypeResponse" message="tns:IRegistrationService_GetPersonType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetSchedule" message="tns:IRegistrationService_GetSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetScheduleResponse" message="tns:IRegistrationService_GetSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFullCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetAllFullCourses" message="tns:IRegistrationService_GetAllFullCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetAllFullCoursesResponse" message="tns:IRegistrationService_GetAllFullCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOpenCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetAllOpenCourses" message="tns:IRegistrationService_GetAllOpenCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetAllOpenCoursesResponse" message="tns:IRegistrationService_GetAllOpenCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnrolledStudentsByCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetEnrolledStudentsByCourse" message="tns:IRegistrationService_GetEnrolledStudentsByCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetEnrolledStudentsByCourseResponse" message="tns:IRegistrationService_GetEnrolledStudentsByCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetAllActiveStudents" message="tns:IRegistrationService_GetAllActiveStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetAllActiveStudentsResponse" message="tns:IRegistrationService_GetAllActiveStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetStudentSchedule" message="tns:IRegistrationService_GetStudentSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetStudentScheduleResponse" message="tns:IRegistrationService_GetStudentSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/AddCourse" message="tns:IRegistrationService_AddCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/AddCourseResponse" message="tns:IRegistrationService_AddCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/AddPerson" message="tns:IRegistrationService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/AddPersonResponse" message="tns:IRegistrationService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonType">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/AddPersonType" message="tns:IRegistrationService_AddPersonType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/AddPersonTypeResponse" message="tns:IRegistrationService_AddPersonType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/RegisterCourse" message="tns:IRegistrationService_RegisterCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/RegisterCourseResponse" message="tns:IRegistrationService_RegisterCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CartCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/CartCourse" message="tns:IRegistrationService_CartCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/CartCourseResponse" message="tns:IRegistrationService_CartCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/DropCourse" message="tns:IRegistrationService_DropCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/DropCourseResponse" message="tns:IRegistrationService_DropCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/CancelCourse" message="tns:IRegistrationService_CancelCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/CancelCourseResponse" message="tns:IRegistrationService_CancelCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/ModifyCourse" message="tns:IRegistrationService_ModifyCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/ModifyCourseResponse" message="tns:IRegistrationService_ModifyCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/RemoveStudent" message="tns:IRegistrationService_RemoveStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/RemoveStudentResponse" message="tns:IRegistrationService_RemoveStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistrationService" type="tns:IRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeople">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonTypes">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetPersonTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedules">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonType">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetPersonType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFullCourses">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetAllFullCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOpenCourses">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetAllOpenCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnrolledStudentsByCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetEnrolledStudentsByCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveStudents">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetAllActiveStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentSchedule">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetStudentSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/AddCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPersonType">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/AddPersonType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/RegisterCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CartCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/CartCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/DropCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/CancelCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCourse">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/ModifyCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/RemoveStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="BasicHttpBinding_IRegistrationService" binding="tns:BasicHttpBinding_IRegistrationService">
      <soap:address location="http://34.192.6.56/RegistrationData/RegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>